* {
    color: #777;
}

.body {
    margin: 0px;
}

h3 {
    margin-bottom: 0px;
}

.city {
    border-bottom: 10px solid #fff;
    cursor: pointer;
}

.text-no-wrap {
    white-space: nowrap;
}

.forecast {
    background-color: #fcf8e3;
    border-bottom: 50px solid #fff;
}

.clouds,
.mist{
    background-image: url("../images/cloud.jpg");
}

.snow {
    background-image: url("../images/snow.jpg");
}

.rain,
.drizzle {
    background-image: url("../images/rain.jpg");
}

.clear {
    background: url("../images/clear.jpg");
    background-size: contain;
}

.city-forecast {
    border-bottom: 1px solid #fff;
}
