<!DOCType HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png"  href="images/logo.png">
    <title>Weather Forecast</title>

    <link rel='stylesheet' type='text/css' href='css/app.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-route.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="ForecastApp" ng-cloak>
<div class="main" ng-controller="MainController">

    <div class="container">
        <h1 class="text-center">Weather Forecast</h1>

        <div ng-if="showError" class="alert alert-danger text-center" role="alert">
            <h2>{{errorMessage}}</h2>
        </div>
        <div class="row cities bg-primary">
            <div  ng-repeat="city in cities" class="bg-primary text-center col-xs-12 col-sm-4 col-md-2 col-lg-2" ng-class="{'col-md-offset-1': $first, 'col-lg-offset-1': $first}">
                <city city="city"></city>
            </div>
        </div>


    </div>
</div>
<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>

<!-- Services -->
<script src="js/services/forecast.js"></script>
<script src="js/services/weather.js"></script>

<!-- Directives -->
<script src="js/directives/city/city.js"></script>

</body>